@import "../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";

body {
  font-family: Open Sans, sans-serif;
  background-color: #f9fbfd;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

body,
main {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, rgb(74, 192, 74));
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  padding: 12px;

  .wrapper {
		max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 24px;
			font-size: 2rem;
			text-align: center;
			line-height: 2rem;
		}
		
		h2 {
			margin-bottom: 24px;
			font-size: 1.5rem;
		}

    .svg-wrapper {
      position: relative;

      .arrow {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 40px solid rgb(0, 0, 0);
        position: absolute;
        left: 50%;
				transform: translateX(-50%);
				z-index: 1;
      }

      svg {
        height: 300px;
        width: 300px;
        transition: transform 3s;
        margin-bottom: 24px;

        path {
          stroke: black;
        }
      }
    }

    button {
      width: 140px;
      border: none;
      height: 60px;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.025em;
      color: #fff;
      transition: all 0.15s ease;
      text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
      outline: none;
      cursor: pointer;
      line-height: 1.5rem;
			margin-bottom: 24px;
			background: #3ecf8e;
			
			&:hover {
				box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
				transform: translateY(-1px);
			}
	
			&:active {
				transform: translateY(1px);
				box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
			}
		}
		
		.result {
			max-width: 300px;
			font-size: 1.3rem;
			text-align: center;
			line-height: 2rem;
		}
  }
}
